.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.logo{
    width: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-items > ul {
    display: flex;
    padding: 0 20px;
    list-style-type: none;
}
.nav-items > ul > li {
    margin: 10px;
    padding:6px;
    font-size: 20px;
    font-weight: 500;
}

.cart_logo{
    width: 40px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.cart_logo:hover{
    transform: scale(1.1);
}
